body {
	overflow: hidden;
	background-color: #02367b;
	color: #b1bfd2;
}

.game-over-screen {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.end-screen {
	margin: auto;
	text-align: center;
	font-size: 3em;
}

#restart-game {
	font-size: 0.4em;
	height: 55px;
	width: 100px;
	cursor: pointer;
}

.blur {
	filter: blur(5px);
}

form {
	text-align: center;
	color: #b1bfd2;
}

form > select,
input,
button {
	background-color: #b1bfd2;
	border: none;
	border-radius: 10px;
	height: 1.4em;
	width: 90px;
}

form > input {
	padding-left: 10px;
}

.game {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 90vh;
	width: 100vw;
}

.boards {
	text-align: center;
}

.boards > h1,
.x-axis > h1 {
	margin-bottom: 0;
}

.x-axis {
	display: flex;
	justify-content: space-evenly;
}

.axis {
	display: flex;
	align-items: center;
}

.y-axis > h1 {
	padding-bottom: 3px;
}

.ship-yard {
	border: 1px solid #6f6f34c4;
	height: 50vh;
	width: 15vw;
	text-align: center;
}

.yard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.ship {
	display: flex;
}

#yard-ships {
	height: 30px;
	width: 30px;
}

.player-grid,
.computer-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	padding: 25px;
}

.gamesquare {
	border: 1px solid #6f6f34c4;
	border-radius: 5px;
	height: 50px;
	width: 50px;
	padding: 5px;
	text-align: center;
}

.computer-grid > .gamesquare {
	cursor: pointer;
	background-color: unset;
}

.gamesquare.miss {
	background-color: #d0ccd0;
}

.gamesquare.hit {
	background-color: #953636;
}

.carrier {
	background-color: #ffe7a0;
}
.destroyer {
	background-color: #c42424;
}
.battleship {
	background-color: #9b0a0a;
}
.submarine {
	background-color: #183b06;
}
.patrol {
	background-color: #54125b;
}
